@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary: #ea4335;
    --dark-theme: rgb(53, 53, 53);
    --light-theme: #fff;
    --text-color: #333;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: var(--dark-theme);
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
ul {
    list-style: none;
    padding: 0;
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
}
