.wrapper {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
        user-select: none;
    }
}
.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
    }
}
