@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
$primary: #00FCD1;
$secondary: #04DFBD;
$lighter: #9596A2;
$light: #3D4256;
$dark: #1E2137;
$bg1: #333342;
$bg2: #4D4E63;
$border-radius: 12px;

body {
  background: linear-gradient(135deg, $bg2, $bg1);
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.form-products {
  width: fit-content;
  padding: 35px 40px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #fff;

  .form-information {
    display: flex;
    gap: 40px;
    .form-content {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
        input {
          width: 450px;
          border-radius: 8px;
          padding: 0 20px;
          background-color: #eee;
        }

        select {
          height: 50px;
          border-radius: 8px;
          padding: 0 20px;
          border: none;
          background-color: #eee;
          font-size: 16px;
          outline: none;
          color: #757575;
        }

        textarea {
          font-family: sans-serif;
          height: 100px;
          border-radius: 8px;
          padding: 10px 20px;
          border: none;
          background-color: #eee;
          font-size: 16px;
          outline: none;
          color: #757575;
          resize: none;
        }

        .checkbox-related {
          
          .products-related {
            width: 20px;
          }
        }

        .group-details {
          .list-details{
            margin-bottom: 10px;
          }

          .list-details-cover {
            display: flex;
            flex-direction: row;
            box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
            .details-key {
              padding: 5px;
              width: 225px;
              border-radius: 0;
            }
  
            .details-description {
              padding: 5px;
              width: 225px;
              border-radius: 0;
            }
          }

          .products-details {
            display: flex;
            flex-direction: row;
            box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
  
            .details-key {
              width: 225px;
              border-radius: 0;
            }
  
            .details-value {
              width: 225px;
              border-radius: 0;
              background-color: #fff;
            }
          }
        }
      }
    }

    .form-img {

      .form-group {
        display: flex;
        flex-direction: column;

        .images {
          width: 250px;
          height: 250px;
          margin-bottom: 20px;
          border-radius: 8px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        }
      }
    }
  }

  .form-cta {
    display: flex;
    gap: 15px;

    .btn {
      font-weight: bold;
      padding: 12px 30px;
      cursor: pointer;
      outline: none;
      border-radius: 5px;
      background-color: #fff;
      border: 1px solid #28a745;
    }
    
    .btn:hover {
      color: #fff;
    }
    
    .btn-create, .btn-done {
      color: #28a745;
    }
    
    .btn-create:hover,
    .btn-done:hover {
      background-color: #46d267;
      border-color:#46d267;
    }
    
    .btn-delete {
      color: #ff5b5b;
      border-color: #ff4d4d;
    }
    
    .btn-delete:hover {
      background-color: #ff5b5b;
      border-color: #ff5b5b;
    }
    
    .btn-update {
      color: #4da6ff;
      border-color:#3399ff;
    }
    
    .btn-update:hover {
      background-color: #4da6ff;
      border-color:#4da6ff;
    }

    .btn-reset {
      color: #6c757d;
      border-color: #6c757d;
    }

    .btn-reset:hover {
      background-color: #6c757d;
      border-color:#6c757d;
    }
  }
}
