.wrapper {
    .navbar {
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 80px;
        box-shadow: 0 3px 15px rgba(144, 144, 144, 0.2);
        z-index: 2;
        .logo {
            display: block;
            width: 80px;
            height: 80px;
        }
        .navbar-nav {
            display: flex;
            align-items: center;
            justify-content: center;

            .nav-item {
                padding: 0 30px;
                position: relative;
                a {
                    font-weight: 600;
                    transition: 0.3s ease-in-out;
                    &.active {
                        color: var(--main-color);
                    }
                    &:hover {
                        color: var(--main-color);
                    }

                    &:hover::after,
                    &.active::after {
                        content: '';
                        width: 30%;
                        height: 2px;
                        background: var(--main-color);
                        position: absolute;
                        bottom: -4px;
                        left: 30px;
                    }
                }
                &:hover {
                    .dropdown__list {
                        display: block;
                    }
                }
                .dropdown__list {
                    position: absolute;
                    top: 40px;
                    min-width: 200px;
                    border-radius: 4px;
                    display: none;
                    &::before {
                        content: '';
                        height: 25px;
                        position: absolute;
                        left: 0;
                        right: 0;
                        background-color: transparent;
                        transform: translateY(-100%);
                    }
                    .dropdown__item {
                        padding-right: 10px;
                        font-size: 1.45rem;
                        background-color: var(--main-color);
                        color: #fff;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        transition: background-color 0.2s linear;
                        &:hover {
                            background-color: var(--bold-color);
                        }
                        &:first-child {
                            border-radius: 4px 4px 0 0;
                        }
                        &:last-child {
                            border-radius: 0 0 4px 4px;
                        }
                        &:first-child::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 15px;
                            border-left: 10px solid transparent;
                            border-right: 10px solid transparent;
                            border-bottom: 10px solid var(--main-color);
                            transform: translateY(-100%);
                            transition: border-color 0.2s linear;
                        }
                        &:first-child:hover::before {
                            border-bottom-color: var(--bold-color);
                        }
                        .dropdown__text {
                            width: 100%;
                            padding: 15px 15px 15px 10px;
                            text-transform: capitalize;
                            &:hover {
                                color: #fff;
                                &::after {
                                    background: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .mobile {
        display: none;
    }
    .profile {
        display: flex;
        align-items: center;
        font-weight: 600;
        .profile-item + .profile-item {
            margin-left: 20px;
        }
        .profile-button {
            cursor: pointer;
            padding: 10px 20px;
            border-radius: var(--radius-8);
            border: 1px solid rgba(144, 144, 144, 0.6);
            transition: 0.2s ease-in;
            &:hover {
                background-color: var(--main-color);
            }
        }
    }
    .counter-item {
        position: relative;
        span {
            position: absolute;
            top: -7px;
            left: 8px;
            width: 20px;
            line-height: 20px;
            border-radius: var(--radius-full);
            text-align: center;
            background: var(--main-color);
            font-size: 1rem;
        }
    }
}

// responsive navbar
@media screen and (max-width: 769px) {
    .logo {
        order: 1;
    }
    .mobile {
        display: block !important;
        order: 3;
        svg {
            font-size: 24px;
            cursor: pointer;
        }
    }
    .profile {
        order: 2;
    }
    .navbar-nav {
        z-index: 11;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: flex-start !important;
        position: fixed;
        top: 78.96px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background: #2a3239;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
        .nav-item {
            margin-bottom: 25px;
        }
        &.active-nav {
            right: 0px;
        }
    }
}
