.size-prod-card {
    width: 300px !important;
    height: 350px !important;
    margin-bottom: 15px !important;
}
.wrapper {
    padding-top: 150px;
    .prods {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
.ant-pagination-item-link {
    color: white;
}
